<h2 mat-dialog-title>Timeline Builder Tips</h2>
<h3>Skill Quick Select</h3>
<ul>
    <li>Your most recently placed skills appear on this list towards the left.</li>
    <li>Use the keys <b>0</b>-<b>9</b> to quickly select skills.</li>
    <li>Hold the <b>Shift</b> key while clicking a skill to lock it to the start of the list, or unlock it.</li>
</ul>
<h3>Timeline</h3>
<ul>
    <li>Hold <b>Control</b> while placing skills to keep the current skill selected.</li>
    <li>Hold <b>Shift</b> or drag from an empty slot to select multiple skills at once.</li>
    <li>Press <b>Shift</b>+<b>D</b> to duplicate your currently selected skills.</li>
    <li>Remind me to add copy/paste</li>
    <li>Remind me to add undo/redo</li>
</ul>

<mat-dialog-content [formGroup]="form">
    <!--
    <mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description">
    </mat-form-field>-->
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>