body{
    font-family: Arial;
    background-color: #e8e8e8;
    user-select: none;
    -moz-user-select: none;
    cursor: context-menu;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px
}

.cssRenderer{
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 1;
}

#drag-catch{
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

#drag-catch-box{
    position: absolute;
    border: 1px solid white;
    pointer-events: none
}

.tooltip{
    position: absolute;
    box-shadow:   inset 0 0 4px 3px #000000;
    color: white;
    text-shadow: 2px 2px 3px black;
    border-radius: 2px;
    line-height: 22px;
    background-color: grey;
    padding: 1vw;
    transform: translate(-50%, -50%);
    transition: opacity .2s, left .4s, right .4s;
    pointer-events: none;
    z-index: 6;
}

#tooltip-tile{
    transform: translate(20px, -50%);
}

#nextturn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 215px;
    height: 215px;
    background: url("nextturnblocked-back.png");
    background-size: contain;
    transform: translate(21%, 21%);
    z-index: 5;
}

#nextturn:hover{
    filter: brightness(1.1)
}

#nextturn:active{
    filter: brightness(1.3)
}

#nextturn-cover{
    position: relative;
    top: 50%;
    left: 50%;
    width: 185px;
    height: 185px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#nextturn-cover[src*="waiting"]{
    animation: rotate 8s infinite linear
}
@keyframes rotate {
  from {transform: translate(-50%, -50%) rotate(0)}
  to {transform: translate(-50%, -50%) rotate(1800deg)}
}

#unitactions{
    position: absolute;
    bottom: .5vw;
    height: 108px;
    padding-left: 5%;
    padding-right: 90px;
    background: url("unitActions-back.png");
    background-size: 100% 108px;
    text-align: right;
    -moz-user-select: none;
    user-select: none;
    transition: .25s;
    line-height: 108px;
    transform: translateX(-80px) scale(.8);
    z-index: 4;
}

#unitactions div{
    display: inline-block;
    background: url("glassBack.png"), darkslateblue;
    background-size: contain;
    border-radius: 100%;
    padding: 4px;
    margin-right: 10px;
    transition: .1s;
    width: 85px;
    height: 85px;
    vertical-align:middle;
    line-height: 85px;
    text-align: middle;
    filter: drop-shadow(0px 0px 3px black);
    cursor: pointer;
}

#unitactions div[inactive="true"]{
    filter: drop-shadow(0px 0px 3px black) saturate(0)
}

#unitactions div[inactive="false"]:hover{
    transform: scale(1.1);
    filter: brightness(.8)
}

#unitactions div[inactive="false"]:active{
    transform: scale(1.2);
    filter: brightness(.6)
}

#unitactions img{
    width: 95%;
    height: 95%;
    vertical-align: middle;
}

.city-label{
    width: 185px;
    height: 40px;
    border-radius: 50px;
    filter: drop-shadow(2px 2px 2px black);
    pointer-events: all;
    opacity: .9
}

.city-label:hover{
    filter: drop-shadow(2px 2px 4px black);
}

.city-label-name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: 40px;
    line-height: 40px;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Cinzel', sans-serif;
    cursor: pointer;
}

.city-label-name:hover{
    filter: brightness(.85)
}

.city-label-name:active{
    filter:brightness(.7)
}

.city-label-pop, .city-label-prod{
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: white;
    text-align: center;
    border-radius: 100%;
    z-index: 2;
    cursor: pointer;
}
.city-label-pop{
    left: 22px;
    transform: translate(-50%, -50%);
    color: green;
}
.city-label-prod{
    right: 22px;
    transform: translate(50%, -50%);
    color: orange;
}
.city-label-pop:hover, .city-label-prod:hover{
    filter: brightness(.85)
}
.city-label-pop:active, .city-label-prod:active{
    filter: brightness(.7)
}

.city-label-prod img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.invert{
    filter: invert(1) saturate(0) drop-shadow(2px 2px black) !important
}

.city-label-left-circle, .city-label-right-circle{
    position: absolute;
    top: 50%;
    background-color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.city-label-left-circle{
    left: 22px;
    transform: translate(-50%, -50%);
}
.city-label-right-circle{
    right: 22px;
    transform: translate(50%, -50%);
}

.city-label-left-bar, .city-label-right-bar{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.city-label-left-bar{
    background-color: green;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%)
}
.city-label-right-bar{
    background-color: orange;
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%)
}

.city-yields-category{
    position: relative;
    width: 220px;
    height: 60px;
    border: 1px solid white;
    font-size: 18px;
}
.city-yields-category:hover{
    filter: brightness(1.2)
}
#city-yields-food{
    background: url("halftone.png"), #184000;
}
#city-yields-gold{
    background: url("halftone.png"), #403700;
    height:35px;
}
#city-yields-culture{
    background: url("halftone.png"), #400030;
}
#city-yields-science{
    background: url("halftone.png"), #001740;
    height:35px;
}
#city-yields-production{
    background: url("halftone.png"), #401f00;
}

.city-yields-category img{
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.city-yields-category span{
    vertical-align: middle;
}

.city-yields-category div{
    position: absolute;
}

.city-yields-count{
    top: 5px;
    left: 10px;
}
.city-yields-bar{
    width: 145px;
    height: 18px;
    bottom: 5px;
    right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.city-yields-bar div{
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    opacity: .8;
    width: 20px;
}
.city-yields-turns{
    bottom: 5px;
    left: 10px;
}
.city-yields-result{
    right: 10px;
    top: 5px;
}

#city-info-header, #city-info-footer{
    position: absolute;
    bottom: 99%;
    right: 0;
    transition: .3s;
    width: calc(100% + 10px);
    height: 40px;
    line-height: 2vw;
    text-align: right;
    background: url("cityinfobar.png");
    background-size: 100% 100%;
    color: black;
    z-index: 15;
    padding-right: 10px;
}

#city-info-footer{
    top: 99%;
    bottom: 0;
}

#city-info-footer div{
    position: relative;
    width: 40px;
    height: 60px;
    display: inline-block;
    background-image: url("cityinfo_back.png");
    background-size: 100% 100%;
    transition: height .1s;
    cursor: pointer;
    vertical-align: top;
}


#city-info-footer div:hover{
    height: 65px;
    filter: brightness(.85);
}

#city-info-footer div[currentPanel="true"], #city-info-footer div[currentPanel="true"]:hover{
    height: 70px;
}

#city-info-footer div:active{
    height: 75px !important;
    filter: brightness(.7)
}

#city-info-footer div img{
    position: absolute;
    bottom: 22px;
    left: 50%;
    width: 35px;
    height: 35px;
    transform: translateX(-50%)
}

#city-header-info-exit{
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(50%, -50%);
    cursor: pointer
}

#city-header-info-exit:hover{
    filter: brightness(1.3)
}
#city-header-info-exit:active{
    filter: brightness(1.6)
}

#city-info{
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 14;
    text-align: center;
    box-shadow: 0px 0px 5px 1px white;
    transition: .3s;
    transform: translateY(-5px);
    color: white;
    text-shadow: 0px 0px 2px black;
    will-change: right;
}

.city-production-item{
    position: relative;
    width: 13vw;
    cursor: pointer;
    border: 1px solid white;
    background: url("cardboard.png"), #383469;
}
.city-production-item-active{
    background: url("cardboard.png"), #34693f;
}
.city-production-item-selected{
    background: url("cardboard.png"), #694f34;
}

.city-production-item:hover{
    filter: brightness(.8)
}
.city-production-item:active{
    filter: brightness(.6)
}

.city-production-item-image{
    width: 2vw;
    height: 2vw;
    padding: 5px;
    padding-right: 8px;
    background: linear-gradient(to right, black 0%, transparent)
}

.city-production-item-image img{
    width: 2vw;
    height: 2vw;
    filter: drop-shadow(2px 2px black);
}

.city-production-item-details{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: right;
}

.city-production-item-name{
    font-size: 18px;
    font-weight: bold
}

.city-production-item-cost span{
    vertical-align: middle
}

.city-production-item-cost img{
    width:20px;
    height: 20px;
    vertical-align: middle;
}

#notifications{
    position: absolute;
    bottom: 200px;
    right: 10px;
}

#notifications div{
    border-radius: 100%;
    background-color: blue;
    border: 3px solid goldenrod;
    cursor: pointer;
    height: 75px;
    margin-top: 8px;
}

#notifications div:hover{
    filter: brightness(.85)
}

#notifications div:active{
    filter: brightness(.7)
}

#notifications img{
    width: 75px;
    height: 75px;
    transform: scale(1.05)
}

#topbar{
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 12px;
    background: url("topbar.png");
    background-size: 100% 100%;
    padding-right: 40px;
    z-index: 4;
}

#topbar div{
    display: inline-block;
    vertical-align: top;
    text-shadow: 0 0 10px white
}

.topbar-yield{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 15px;
}

#topbar img{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 31px;
    height: 31px;
}

.topbar-perturn{
    transform-origin: 0% 50%;
    transform: scale(.8) translateY(-20%)
}

#topbar-gold{
    background: linear-gradient(to right, rgba(230, 219, 0, .0), 
                                          rgba(230, 219, 0, .3) 15%,
                                          rgba(230, 219, 0, .5) 50%, 
                                          rgba(230, 219, 0, .3) 85%, 
                                          rgba(230, 219, 0, 0) 100%)
}

#topbar-science{
    background: linear-gradient(to right, rgba(0, 0, 230, .0), 
                                          rgba(0, 0, 230, .3) 15%, 
                                          rgba(0, 0, 230, .5) 50%, 
                                          rgba(0, 0, 230, .3) 85%, 
                                          rgba(0, 0, 230, 0) 100%);
    padding-right: 15px;
}

#topbar-culture{
    background: linear-gradient(to right, rgba(230, 0, 230, .0), 
                                          rgba(230, 0, 230, .3) 15%, 
                                          rgba(230, 0, 230, .5) 50%, 
                                          rgba(230, 0, 230, .3) 85%, 
                                          rgba(230, 0, 230, 0) 100%);
}

#topbar-food{
    background: linear-gradient(to right, rgba(0, 230, 38, .0), 
                                          rgba(0, 230, 38, .3) 15%, 
                                          rgba(0, 230, 38, .5) 50%, 
                                          rgba(0, 230, 38, .3) 85%, 
                                          rgba(0, 230, 38, 0) 100%);
}

#topbar-production{
    background: linear-gradient(to right, rgba(230, 150, 0, .0), 
                                          rgba(230, 150, 0, .3) 15%, 
                                          rgba(230, 150, 0, .5) 50%, 
                                          rgba(230, 150, 0, .3) 85%, 
                                          rgba(230, 150, 0, 0) 100%);
}

.tile-buy-button{
    background-color: #888;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid black;
    padding: 2px;
    padding-right: 5px;
    padding-left: 30px;
    pointer-events: all;
    box-shadow: 2px 2px 2px black;
    text-shadow: 0 0 1px white;
    opacity: .9;
    cursor: pointer;
}

.tile-buy-button[afford="false"]{
    filter: brightness(.5) !important;
    opacity: .6 !important;
    cursor: unset;
}

.tile-buy-button[inactive="true"]{
    display: none
}

.tile-buy-button img{
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.tile-buy-button:hover{
    filter: brightness(1.15)
}

.tile-buy-button:active{
    filter: brightness(1.3)
}

#science-holder{
    position: absolute;
    top: 20%;
    left: -215px;
    transition: .1s;
    z-index: 4;
}

#science-holder:hover{
    left: 0;
}

#science-holder:hover .science-row{
    opacity: 1 !important;
}

#science-holder:hover .science-row:first-child{
    opacity: 1 !important;
    filter: drop-shadow(0 0 10px white)
}

.science-row{
    position: relative;
    height: 100px;
    width: 260px;
    margin-top: 5px;
    background: url("subtle.png"), rgba(25, 25, 130, .75);
    color: white;
    font-weight: bold;
    font-family: 'Cinzel', sans-serif;
    cursor: pointer;
    opacity: 0;
    transition: .1s;
}

.science-row:hover{
    padding-left: 10px;
}

.science-row:first-child{
    opacity: 1;
}

.science-row-name{    
    position: absolute;
    top: 10px;
    width: 80%;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.science-row-unlocks{
    position: absolute;
    left: -10px;
    bottom: 30px;
    height: 30px;
    line-height: 30px;    
    background-color: rgba(50,50,50,.8);
    width: 80%;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 0px 10px black;
    padding-left: 15px;
}

.science-row-unlocks div{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: url("unlock_unit.png");
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.science-row-unlocks img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    filter: invert(1);
}

.science-row-icon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    padding: 5px;
    transform: translate(50%, -50%);
    z-index: 2;
    border-radius: 100%;
    background: url("glassBack.png"), grey;
    background-size: 100%;
    box-shadow: inset 0px 0px 5px black;
}

.science-row-icon img{
    width: 70px;
    height: 70px;
}

.science-row-progress{
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translate(50%, -50%);
    background: url("subtle.png"), rgba(15, 15, 90, .75);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    border-radius: 100%;
}

.science-row-bar{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    background-color: white;
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
    border-radius: 100%;
    transform: translate(-51%, -50%)
}

.science-row-info{
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.science-row-type{
    display: inline-block;
    height: 12px;
    line-height: 12px;
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
}
.science-row-type-engineering{
    background-color: rgba(128, 106, 46, .6);
    border: 1px solid orange;
}
.science-row-type-society{
    background-color: rgba(128, 46, 106, .6);
    border: 1px solid purple;
}
.science-row-type-theoretical{
    background-color: rgba(46, 82, 128, .6);
    border: 1px solid blue;
}

.science-row-type img{
    width: 12px;
    height: 12px;
    transform: scale(1.5);
    vertical-align: middle;
}

.science-row-turns{
    margin-left: 5px;
}

.science-row-turns-icon{
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px;
}

.unit-icon-holder{
    text-align: center;
}

.unit-icon{
    background-color: #111;
    border: 1px solid white;
    padding: 1px;
    height: 18px;
    line-height: 16px;
    color: white;
    pointer-events: all;
    cursor: pointer;
    margin: 4px;
    display: inline-block;
}

.unit-icon:hover{
    filter: brightness(2)
}

.unit-icon[selected="true"]{
    transform: scale(1.1);
    filter: invert(1)
}

.unit-icon[inactive="true"]{
    opacity: .5;
}

.unit-icon[inactive="true"]:hover{
    opacity: .8;
}

.unit-icon img{
    vertical-align: middle;
}

#troop-info{
    position: absolute;
    left: 0;
    bottom: 0;
}

.troop-info-box{
    background-color: #444;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.troop-info-troop-div{
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.troop-info-troop-div img{
    width: 64px;
    height: 64px;
}

/* -----------------------------SCROLLBAR-------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 5px;
}