#moneyCount{
    background-color: #111111;
    color:white;
    border: 2px solid white;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 160px;
    height: 60px;
    border-radius: 9px;
    text-align: right;
    padding-right:20px;
    line-height: 60px;
    font-size:32px;
}

#cashIcon{
    height:55px;
    width:55px;
    position: absolute;
    left: 10px
}

#spinny{
    height:20px;
    background-color:white;
    cursor: pointer;
}

#spinnyHolder{
    position: absolute;
    top:30px;
    left:250px;
    width:200px;
    height:20px;
    border-radius: 2px;
    background-color:grey;
    padding: 5px;
    cursor: pointer;
}

.icon{
    position: relative;
    height:55px;
    width:55px;
    left:-25px;
    top: 3px;
    transition: transform .5s
}

.boxText{
    position: relative;
    bottom: 13px;
}

.ball{
    background-color: #FFFFFF;
    width: 130px;
    height: 60px;
    border-radius:3px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    text-align: right;
    padding-right:20px;
    font-size:32px;
    margin-top:10px;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    border:2px ridge black;
    transition: margin-left .5s
}

.ball:hover{
    background-color: #F8D7D7;
    margin-left:-70px;
}

.ball:hover .icon{
    transform: scale(1.26)
}

#ballHole{
    position: fixed;
    right: 0px;
    width:80px;
    height:100%;
    bottom: -2px;
}

#bar{
    position: fixed;
    left: 0px;
    width:100%;
    height:80px;
    bottom: -2px;
    z-index:-3;
    background-color:#333333;
    border:2px ridge black;
}

.pokemonSprite{
    display:inline-block;
    width:64px;
    height:64px;
    padding-top:-5px;
    border-radius:100%;
    cursor: pointer;
    z-index:5;
}

.pokemonSprite:hover{
    background: radial-gradient(at 50% 65%,#FFFFFF, rgba(255,255,255,0) 50%);
}

#shake{
    width:128px;
    height:128px;
    position: absolute;
    left: 500px;
    top: 500px;
    transform: scale(0);
}


#pokeHolderOut{
    background-color: #333333;
    border:2px solid black;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    left: 350px;
    z-index:1;
    width:534px;
    height: 86px;
    padding:10px;
}

.pInv{
    background-image: url(computerscreen.jpeg);
    background-size:100% 100%;
}

#pokeHolder{
    border:1px solid black;
    border-radius: 20px;
    position: fixed;
    z-index:1;
    width:512px;
    height: 66px;
    padding:10px;
}

.POKEC{
    position:absolute;
}

#pokeBoxOut{
    background-color: #333333;
    border:2px solid black;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index:0;
    width:226px;
    height: 222px;
    padding:10px;
}

#pokeBox{
    border:1px solid black;
    border-radius: 20px;
    position: fixed;
    width:206px;
    height: 202px;
    z-index:0;
    padding:10px;
}

#boxSel{
    position: fixed;
    width:70px;
    height:47px;
    bottom: 7px;
    right: 20px;
    z-index:2;
    text-align: center;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    background-color: black;
    color:white;
}

#resetButton{
    position: fixed;
    width:70px;
    height:37px;
    left: 50px;
    top: 80px;
    text-align: center;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    background-color: black;
    color:white;
    cursor: pointer;
}

#resetButton:hover{
    background-color:#444444;
}

body{
    font-family: cambria;
    user-select: none;
}
