#moneyCount{
    background: no-repeat 10px 0px/25px 25px  url("items/dream-world/electric-gem.png"), #333333;
    color:white;
    width: 99%;
    height: 25px;
    text-align: right;
    line-height: 20px;
    font-size:32px;
    text-align: center;
    border: none;
}

#coinsCount{
    margin-left:40px;
}

#spinny{
    height:20px;
    background-color:white;
    cursor: pointer;
}

#spinnyHolder{
    position: absolute;
    top:30px;
    left:250px;
    width:200px;
    height:20px;
    border-radius: 2px;
    background-color:grey;
    padding: 5px;
    cursor: pointer;
}

#shake{
    pointer-events: none;
}

#shakeBehind{
    pointer-events: none;
}

.icon{
    position: relative;
    height:55px;
    width:55px;
    top: 5px;
    transition: transform .5s
}

.item{
    display: flex;
    width: 75%;
    background-color:#4444AA;
    border-radius:100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:10px;
    align-items: center;
}

.item .icon{
    margin-left: auto;
    margin-right: auto;
    top:0px;
    width:70%;
    height:70%;
}

.item:hover .icon{
    transform: scale(1.26)
}

.dead{
    position: absolute; 
    text-align:center;
    border-radius: 10px; 
    width:104px; 
    height: 104px; 
    opacity: .2; 
    z-index:10; 
    margin-left:16px;
    margin-top:32px;
}

.revive{
    cursor: pointer; 
    width: 48px;
    height: 64px; 
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}

.revive:hover{
    transform: scale(1.25);
}

.number{
    position: absolute;
    font-size: 17px;
    right: 20px;
    color: black;
    bottom: -25px;
    --backColour : white;
    text-shadow: 0px 0px 3px var(--backColour), 0px 0px 6px var(--backColour), 0px 0px 9px var(--backColour), 0px 0px 12px var(--backColour), 0px 0px 15px var(--backColour);
    font-weight: 900;
}

.row{
    background-color: #555555;
    border-radius: 1px;
    border: 1px solid black;
    height:15px;
}

.barHold{
    opacity: .55; 
    position: absolute; 
    padding:3px; 
    height:14px; 
    width: 70px;  
    top:27px; 
    background-color:black; 
    border-radius:5px
}

.healthBar{
    transition: width 1s; 
    height:7px; 
    width: 70px; 
    background-color:green; 
    border-top-left-radius:3px;
    border-top-right-radius:3px
}

.typeBar{
    transition: width 1s; 
    height:7px; 
    width: 0px; 
    background-color:#0081af; 
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px
}

#info{
    width:15%;
    background-color: #2A2A2A; 
    text-align: center; 
    color:white; 
    font-family:Arial;
}

.top{
    position: absolute;
    top:-2px;
    width:70px;
    text-align: center;
}

.top :first-child{
    position: auto;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
}

.top :nth-child(2){
    position: auto;
    margin-top:-3px;
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: Helvetica;
}

.pokemonSprite{
    display:inline-block;
    image-rendering: pixelated;
    width:80px;
    height:60px;
    padding-top:-5px;
    border-radius:100%;
    cursor: pointer;
    z-index:5;
}

.battleSprite{
    display:inline-block;
    image-rendering: pixelated;
    width:96px;
    height:96px;
    padding-top:-5px;
    border-radius:100%;
    cursor: pointer;
    z-index:5;
}

.pokemonSprite:hover{
    background: radial-gradient(at 50% 65%,#FFFFFF, rgba(255,255,255,0) 50%);
}

#trasher{
    background-color: red;
    border: 2px solid black;
    position: absolute;
    bottom: 20px;
    width:60px;
    height:60px;
    right: 500px;
    font-size:50px;
    padding-top:5px;
    padding-bottom:15px;
    padding-left:5px;
    padding-right:15px;
}

#shake{
    width:128px;
    height:128px;
    position: absolute;
    left: 500px;
    top: 500px;
    transform: scale(0);
}

.shiny::after{
    position: relative;
    left:45px;
    bottom:20px;
    content: "★";
    color:yellow;
    --backColour : yellow;
    text-shadow: 0px 0px 3px var(--backColour), 0px 0px 6px var(--backColour), 0px 0px 9px var(--backColour);
}

#shakeBehind{
    width:96px;
    height:96px;
}

.pInv{
    background-size:100% 100%;
}

.battle{
    position: relative;
    border-radius: 2px; 
    width:99%; 
    height: 144px; 
    left: 0;
    border:2px outset #222222;
    text-align: center;
    background-image: url(grassBattle.PNG); 
}

.normal{
    background-image: url(normalBattle.PNG); 
}

.water{
    background-image: url(waterBattle.PNG); 
}

.rock{
    background-image: url(rockBattle.PNG); 
}

.ice{
    background-image: url(iceBattle.PNG); 
}

.wrapper{
    position: relative;
    display: inline-block;
    width:272px; 
    height: 144px; 
}

.fBox{
    position: absolute; 
    background-image: url(backBattle.png); 
    width:104px; 
    height: 104px; 
    top: 30px; 
    margin: 0;
}

.GrassBack{
    background-image: url(backBattleGrass.png); 
}

.WaterBack{
    background-image: url(backBattleWater.png); 
}

.NormalBack{
    background-image: url(backBattleNormal.png); 
}

.RockBack{
    background-image: url(backBattleRock.png); 
}

.IceBack{
    background-image: url(backBattleIce.png); 
}

#pokeHolder{
    background-color: #333333;
    z-index:1;
    height: 60px;
    padding:10px;
}

.setCurrent{
    display: inline-block;
    margin: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    background-color: darkgrey;
    line-height:40px;
    text-align: center;
    font-size: 19px;
    font-family: Arial;
    color: black;
    border: 2px solid black;
}

.setCurrent:hover{
    background-color: grey;
}

#dexTab{
    position:relative;
    left: 0;
    top: 0;
    width: 100%;
}

.main{
    overflow-y: auto;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(144px);
    min-width:850px;
    height:100%;
    background-color: #111111;
}

.POKEC{
    position:absolute;
}

#pokeBoxOut{
    background-color: #333333;
    border:2px solid black;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index:-2;
    width:226px;
    height: 222px;
    padding:10px;
}

#pokeBox{
    border:1px solid black;
    border-radius: 20px;
    position: fixed;
    width:206px;
    height: 202px;
    z-index:0;
    padding:10px;
}

#boxSel{
    position: fixed;
    width:70px;
    height:47px;
    bottom: 7px;
    right: 20px;
    z-index:2;
    text-align: center;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    background-color: black;
    color:white;
}

#resetButton{
    background-color: #333333;
    color:white;
    width: 99%;
    height: 35px;
    line-height: 14px;
    font-size:16px;
    border-top-left-radius: 50px;
    text-align: center;
    transition: background-color .25s;
}

#resetButton:hover{
    background-color: #444444;
}

.box{
    width:40px;
    height:30px;
}

body{
    font-family: cambria;
    user-select: none; 
    overflow: hidden;
    -moz-user-select: none;
}