#header{
  position: absolute;
  height: 15%;
  width: 100%;
  background-color: black;
  color: white;
  left: 0px;
  top: 0px;
  font-family: Courier;
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  padding-left: 20px;
}

#bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85%;
  width: 100%;
  background-color: #F5F5F5;
}

#work a{
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  width: 92%;
  height: 70px;
  color: #EEEEEE;
  display: flex;
  align-items: center;
  font-size: 40px;
  padding-left: 20px;
  background-color: #4444AA;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: width .5s;
}

#work a:hover{
  background-color: #5555CC;
  width: 87%;
}

#bottom div span{
  display: block;
  margin: auto;
  width: 95%;
  border-bottom: 2px solid black;
  padding: 5px;
  padding-bottom: 2px;
  font-size: 27px;
  font-weight: bold;
  font-family: Courier;
}

#contact div{
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  width: 92%;
  height: 70px;
  color: #EEEEEE;
  font-size: 40px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: width .5s;
}