.point{
    position: absolute;
    width: 10px;
    height:10px;
    background-color: white;
    border-radius: 100%;
    text-shadow: 5px 5px 10px green
}

body{
    background-color: #222244;
    user-select: none;
    overflow: hidden;
}