#enemy_data_holder{
    position: fixed;
    right: 0px;
    top: 8px;
}

.unit_data{
    text-align:left;
    display:block;
    margin-bottom: 6px;
    height:100px;
    background-color: rgba(255, 255, 255, 0.7);
    width:427px;
    border:5px solid white;
    opacity:.72;
    transition: opacity .4s;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    user-select:none;
    cursor: pointer;
}

.unit_data_enemy{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 387px;
}

.unit_data:hover{
    opacity:1
}

.unit_data table{
    display: inline-block;
    text-align:center;
    border-spacing:0px;
    height:96px;
    width: 282px;
    margin-top:2px;
    margin-bottom:2px;
}

.unit_data_enemy table{
    width: 282px;
}

.unit_health_bar, .unit_tech_bar, .unit_speed_bar{
    text-align:left; 
    display: inline-block;
    width: 210px;
    background-color: #333333;
    border-radius: 8px;
    height:10px;
    padding:2px;
}

.unit_health_bar div, .unit_tech_bar div, .unit_speed_bar div{
    height:10px;
    border-radius: 8px;
    transition: width 1s
}

.unit_health_bar span, .unit_tech_bar span, .unit_speed_bar span{
    position: relative;
    bottom:16px;
    left:5px;
    font-size: 12px;
    font-variant: small-caps;
    color: white;
}

.unit_health_bar div{
    background-color: rgb(240, 40, 40)
}

.unit_tech_bar div{
    background-color: rgb(5, 185, 5)
}

.unit_speed_bar div{
    background-color: rgb(10, 167, 179)
}

.unit_experience{
    display: inline-block;
    position:relative;
    background-color: #333333;
    width:15px;
    height:100%;
}

.unit_experience_bar{
    margin-left:2px;
    width:11px;
    position: absolute;
    bottom:2px;
    background-color: rgb(34, 192, 255);
    transition: height 1s
}

.unit_inspiration{
    display: inline-block;
    position:relative;
    background-color: #333333;
    width:15px;
    height:100%;
}

.unit_inspiration_bar{
    margin-left:2px;
    width:11px;
    position: absolute;
    bottom:2px;
    background-color: rgb(214, 188, 41);
    transition: height 1s
}

.unit_status{
    height:20px
}

.unit_status div{
    display:inline-block;
    height:13px;
    padding: 3px;
    border-radius:5px;
    font-size: 13px;
    margin-left: 3px;
    font-variant: small-caps;
}

.unit_portrait{
    display:inline-block;
}

.unit_portrait:hover{
    opacity: 1;
}

.unit_portrait img{
    width: 100px;
    height:100px;
    border-radius: 100%;
}

.unit_name{
    font-size:15px;
}

.unit_level, .unit_health_number, .unit_tech_number, .unit_speed_number{
    font-size: small;
    font-variant: small-caps;
    width:100%;
    font-size:12px;
}

#back{
    position: fixed;
    z-index:-5;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(#DDDDDD, #AAAAAA) no-repeat
}

.status_poison{
    background-color: rgb(204, 102, 204)
}

.status_atk{
    background-color: rgb(233, 88, 88)
}
    
.individual-bubble {
    position: absolute;
    border-radius: 100%;
    background-color: #ffffff;
    z-index: 1;
}

#footer{
    position: fixed;
    z-index: 5;
    left:0;
    bottom:0;
    width: 100%;
    height: 20px;
    background-color: black;
    color:white;
}

#battle{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-collapse: separate;
    border-spacing: 12px;
}

#battle td{
    width:80px;
    height:64px;
    border: 2px solid black;
    border-radius: 2px;
    image-rendering: pixelated;
    background-size: 100%;
    cursor: pointer;
}

#battle td:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform .1s
}

.platform_ally{
    background: url("rpg/platform_ally.png");
}
.platform_enemy{
    background: url("rpg/platform_enemy.png");
}

.sprite_ally{
    position: absolute;
    transform: translateY(-80px);
    width: 80px;
    height:80px;
}

[src^="rpg/enemy_sprite"]{
    position: absolute;
    transform: translateY(-70px)
}

[hit="right"],[hit="left"]{
}

[hit="right"]{
    animation: hitRight .5s 1, hit .2s 2
}

[hit="left"]{
    animation: hitLeft .5s 1, hit .2s 2
}

@keyframes hit{
    0% {
        filter: grayscale(0) 
    }
    45%{
        filter: grayscale(0) 
    }
    46%{
        filter: grayscale(1) brightness(1000%) 
    }
    100%{
        filter: grayscale(1) brightness(1000%) 
    }
}

@keyframes hitRight{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 10px
    }
}

@keyframes hitLeft{
    0%{
        margin-right: 0px;
    }
    100%{
        margin-right: 10px
    }
}

[move="true"]{
    animation-duration: .3s;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes upDown {
    0% {
        top: 2px
    }
    100% {
        top: -2px
    }
}

a:visited{
    color:white
}

body{
    font-family:Arial;
}