#enemy_data_holder{
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 8px;
    transform-origin: top right;
    z-index: 2;
}

#ally_data_holder{
    position: fixed;
    left: 0px;
    top: 8px;
    transform-origin: top left;
    z-index: 2;
}

#move_data_holder{
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100%;
    z-index:5;
    transform-origin: bottom center;
}

[glow="true"]{ 
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0px 0px 5px white) drop-shadow(0px 0px 5px white)
}

.move_data{
    display: inline-block;
    background-color: #282828;
    border-radius: 4px;
    color: white;
    margin-left: 5px;
    margin-right:5px;
    width: 270px;
    height:107px;
    text-align: center;
    border: 6px solid #1A1A1A;
    cursor: pointer;
    user-select: none;
    z-index:5;
}

.move_data:active{
    transform: translateY(3px)
}

.move_data_bottom{
    height:39px;
}

.move_data div{
    display: inline-block;
    background-color: #444444;
    border-radius: 4px;
    line-height: 28px;
    height: 28px;
    padding: 1px;
    width: 60px;
    text-align: left;
}

.move_data img{
    border-radius: 4px;
}

.move_data div span{
    margin:auto;
    height:28px;
    display: inline-block;
    width:30px;
    text-align: center;
    vertical-align: top;
}

.move_data div img{
    width: 28px;
    height: 28px;
    image-rendering: pixelated;
}

.move_element{
    text-align: center !important;
    background-color: #282828 !important;
}

.move_element img{
    width: 34px !important;
    height: 32px !important;
}

.move_info{
    width:100%;
}

.move_icon{
    height:62px;
}

.move_name{
    font-family: MoonBold;
    font-weight: bold;
}

.unit_data{
    text-align:left;
    display:block;
    margin-bottom: 6px;
    height:100px;
    width:427px;
    border: 6px solid #1A1A1A;
    background-color: #282828;
    color: white;
    transform: translateX(0);
    transition: opacity .4s, transform .5s;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    user-select:none;
    cursor: pointer;
}

.unit_data_enemy{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 373px;
    height: 66px;
}

.unit_data:hover{
    opacity:1
}

.unit_data table{
    display: inline-block;
    text-align:center;
    border-spacing:0px;
    height:96px;
    width: 282px;
    margin-top:2px;
    margin-bottom:2px;
}

.unit_data_enemy table{
    width: 282px;
    margin-left:20px;
    height: 60px;
}

.unit_health_bar, .unit_tech_bar, .unit_speed_bar{
    text-align:left; 
    display: inline-block;
    width: 210px;
    background-color: #333333;
    border-radius: 8px;
    height:10px;
    padding:2px;
}

.unit_health_bar div, .unit_tech_bar div, .unit_speed_bar div{
    height:10px;
    border-radius: 8px;
}

.unit_health_bar span, .unit_tech_bar span, .unit_speed_bar span{
    position: relative;
    bottom:16px;
    left:5px;
    font-size: 12px;
    color: white;
}

.unit_health_bar div{
    background-color: rgb(240, 40, 40)
}

.unit_tech_bar div{
    background-color: rgb(5, 185, 5)
}

.unit_speed_bar div{
    background-color: rgb(10, 167, 179)
}

.unit_experience{
    display: inline-block;
    position:relative;
    background-color: #333333;
    width:15px;
    height:100%;
}

.unit_experience_bar{
    margin-left:2px;
    width:11px;
    position: absolute;
    bottom:2px;
    background-color: rgb(34, 192, 255);
    transition: height 1s
}

.unit_inspiration{
    display: inline-block;
    position:relative;
    background-color: #333333;
    width:15px;
    height:100%;
}

.unit_inspiration_bar{
    margin-left:2px;
    width:11px;
    position: absolute;
    bottom:2px;
    background-color: rgb(214, 188, 41);
    transition: height 1s
}

.unit_status{
    height:20px
}

.unit_status div{
    display:inline-block;
    height:13px;
    padding: 3px;
    border-radius:5px;
    font-size: 13px;
    margin-left: 3px;
}

.unit_portrait{
    display:inline-block;
}

.unit_portrait:hover{
    opacity: 1;
}

.unit_portrait img{
    width: 100px;
    height:100px;
    border-radius: 100%;
}

.unit_data_enemy .unit_portrait img{
    width: 66px;
    height: 66px;
}

.unit_name{
    font-size:15px;
}

.unit_level, .unit_health_number, .unit_tech_number, .unit_speed_number{
    font-size: small;
    width:100%;
    font-size:12px;
}

.status_poison{
    background-color: rgb(189, 72, 189)
}

.status_burn{
    background-color: rgb(189, 119, 72)
}

.status_depressed{
    background-color: rgb(74, 72, 189)
}

.status_dizzy{
    background-color: rgb(189, 187, 72)
}

.status_shocked{
    background-color: rgb(72, 189, 130)
}

.status_str\+, .status_vit\+, .status_stm\+, .status_agi\+{
    background-color: rgb(233, 88, 88)
}

.status_str\-, .status_vit\-, .status_stm\-, .status_agi\-{
    background-color: rgb(91, 88, 233)
}
    
.individual-bubble {
    position: absolute;
    border-radius: 100%;
    background-color: #ffffff;
    z-index: 1;
}


#footer{
    position: fixed;
    z-index: 5;
    left:0;
    bottom:0;
    width: 100%;
    height: 20px;
    background-color: #1A1A1A;
    color:white;
}

#battle{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%) translateZ(50%);
    border-collapse: separate;
    border-spacing: 12px;
    perspective-origin: left;
}

#battle td{
    width:80px;
    height:64px;
    border: 2px solid black;
    border-radius: 2px;
    image-rendering: pixelated;
    -webkit-image-rendering: pixelated;
    background-size: 100%;
    cursor: pointer;
    perspective:200px;
}

#battle td:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform .1s
}

.platform_ally{
    background: url("rpg/platform_ally.png");
}
.platform_enemy{
    background: url("rpg/platform_enemy.png");
}

.bullet{
    position: absolute;
    width: 30px;
    height: 24px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: white;
    left: 10px;
    top: 10px;
}

.poison_bullet{
    background-color: purple;
    height: 10px;
}

.burn_bullet{
    background-color: orange;
    border: none;
    filter: drop-shadow(0px 0px 5px orange) drop-shadow(0px 0px 5px orange) drop-shadow(0px 0px 5px orange);
    height: 15px;
    width: 15px;
}

.shocked_bullet{
    background-color: yellow;
    border: none;
    filter: drop-shadow(0px 0px 5px yellow) drop-shadow(0px 0px 5px yellow) drop-shadow(0px 0px 5px yellow);
    height: 15px;
    width: 15px;
}

.beam{
    position: absolute;
    height: 20px;
    width: 200%;
    opacity: .75;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px turquoise;
    
    animation-duration: .5s;
    animation-name: beam;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes beam{
    0%{
        transform: scaleY(1)
    }
    50%{
        transform: scaleY(1.5)
    }
    100%{
        transform: scaleY(1)
    }
}

.heart{
    position: absolute;
    image-rendering: pixelated;
    
    animation-duration: 1s;
    animation-name: heart;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes heart{
    0%{
        transform: scale(1);
        opacity: 1
    }
    100%{
        transform: scale(5);
        opacity: 0
    }
}

.sprite_ally{
    position: absolute;
    top: -46px;
    width: 80px;
    height:80px;
    transition: filter .2s
}

[src^="rpg/enemy_sprite"]{
    position: absolute;
    top: -36px;
}

.mask{
    position: absolute;
    top: -46px;
    z-index: 10;
    width: 80px;
    height: 80px; 
    pointer-events: none;
    -webkit-mask-image: url(rpg/enemy_sprite_met.gif); 
    -webkit-mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
}

[hit="right"],[hit="left"]{
}

[hit="right"]{
    animation: hitRight .5s 1, hit .2s 2
}

[hit="left"]{
    animation: hitLeft .5s 1, hit .2s 2
}

@keyframes hit{
    0% {
        filter: grayscale(0) 
    }
    45%{
        filter: grayscale(0) 
    }
    46%{
        filter: grayscale(1) brightness(1000%) 
    }
    100%{
        filter: grayscale(1) brightness(1000%) 
    }
}

@keyframes hitRight{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 10px
    }
}

@keyframes hitLeft{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -10px
    }
}

[move="true"]{
    animation-duration: .3s;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes upDown {
    0% {
        top: 2px
    }
    100% {
        top: -2px
    }
}

@keyframes gyrate{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.05)
    }
}

#warning{
    position: fixed;
    bottom: 40px;
    left: 20px;
    background-color: green;
    color: white;
    border: 4px solid darkgreen;
    border-radius: 6px;
    text-align: center;
    width: 400px;
    padding: 10px;
    
    animation-duration: .5s;
    animation-name: gyrate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@font-face{
    font-family: "Moon";
    src: url('Moon Light.otf')
}

@font-face{
    font-family: "MoonBold";
    src: url('Moon Bold.otf')
}

#level_cash_holder{
    height: 4vh;
    width: 20vw;
    z-index: 6;
    position: fixed;
    top:1.5vh;
    right: 20px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    border: 6px solid #1A1A1A;
    background-color: #282828;
}

#level_cash_holder div{
    display: inline-block;
    line-height: 4vh;
    color: white;
    font-size: 16px;
    width: 9vw;
    margin-left: .25vw;
    margin-right: .25vw;
    height: 100%;
    border-radius: 4px;
    background-repeat: no-repeat;
}

#currentLevel{
    background: url('rpg/level.png'), #444444; 
    background-size: 20%;
    background-position: 10px 5px;
}

#currentCash{
    background: url('rpg/cash.png'), #444444; 
    background-size: 15%;
    background-position: 10px 5px;
}

#message_holder{
    height: 18vh;
    width: 20vw;
    position: fixed;
    top: calc(40px + 4vh);
    right: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 6px solid #1A1A1A;
    background-color: #282828;
    overflow-y: scroll;
    overflow-x: hidden;
}

#message_holder div{
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    min-height: 100%;
}

#message_holder div span{
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
}

#message_holder::-webkit-scrollbar {
    width: 10px;
}

#message_holder::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
#message_holder::-webkit-scrollbar-thumb {
    background: #888; 
}

#message_holder::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a:visited{
    color:white;
}

#menu{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index:5;
}

.menu_screen{
    position: fixed;
    width: 100%;
    height: 90vh;
    top: 10vh;
}

#menu_header{
    position: fixed;
    z-index:2;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #1A1A1A;
    border: 0px;
}

#menu_header tr :nth-child(1), #menu_header tr :nth-child(3){
    width: 40%;
}

#menu_header table{
    width: calc(80vw - 40px);
    height: 100%; 
}

#menu_header td div{
    height: 8vh;
    margin: auto;
    background-color: #1A1A1A;
    color: white;
    border-radius: 2px;
    text-align: center;
    line-height: 8vh;
    font-size: 1vw;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

#menu_header td div:hover{
    background-color: white;
    color: black;
}

.menu_left{
    position: fixed;
    height: 80vh;
    width: 46vw;
    top: 14vh;
    left: 2vw;
    display: none;
}

#members_menu_right{
    overflow-y: scroll;
}

.menu_right{
    position: fixed;
    height: 80vh;
    width: 46vw;
    top: 14vh;
    right: 2vw;
    display: none;
}

.left_header{
    position: absolute;
    width: 90%;
    height: 6vh;
    left: 5%;
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    font-size: 1.75vw;
    line-height: 6vh;
    border-radius: 3px;
    clip-path: polygon(0% 100%, 10% 0%, 100% 0%, 90% 100%);
}

#battle_menu_left_header{
}

#battle_menu_left_data{
}

.menu_data{
    position: absolute;
    width: 41.4vw;
    top: 8vh;
    height: 70vh;
    left: 5%;
}

.menu_unit_data{
    position: relative;
    width: 38vw;
    margin-left: 5%;
    height: 20vh;
    margin-bottom: 3vh;
    background-color: white;
    transition: background-color .1s;
}

.menu_unit_data:hover{
    background-color: #e8e8e8;
}

.menu_unit_data_portrait{
    position: absolute;
    left: 1.5vw;
    top: 1vh;
    width: 16vh;
    border-radius: 100%;
    border: 1vh solid #222222;
}

.menu_unit_data_bar{
    position: absolute;
    width: calc(38vw - 24vh);
    height: 2vh;
    left: calc(1.5vw + 18vh - 5px);
    top: 9vh;
    background-color: #222222;
    clip-path: polygon(0% 0%, 0% 100%, 95% 100%, 100% 0%);
}

.menu_unit_data_name{
    position: absolute;
    left: calc(1.5vw + 18vh + 5px);
    top: calc(9vh - 30px);
    font-size: 25px;
}

.menu_unit_data_sprite{
    position: absolute;
    right: 1vw;
    top: 0px;
    height: 9vh;
    font-size: 25px;
}

.menu_unit_data_level{
    position: absolute;
    left: calc(1.5vw + 18vh + (34vw - 1.5vw - 18vh) / 2);
    top: calc(9vh + 25px);
    transform: translateX(-50%);
    font-size: 25px;
}

#battle_menu_right_start{
    width: 15vw;
    left: 14.5vw;
    height: 8vh;
    line-height: 8vh;
    font-size: 1.5vw;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    transition: background-color .2s;
    cursor: pointer;
    top: 25vh;
}

#battle_menu_right_start:hover{
    
    background-color: #1A1A1A;
    color: white;
}

.battle_menu_right_counter{
    width: 20vw;
    left: 13vw;
    font-size: 1vw;
    line-height: 3.5vh;
    position: absolute;
}

.battle_menu_right_counter div{
    display: inline-block;
    background-color: #1A1A1A;
    width: 12vw;
    height: 3.5vh;
    color: white;
    padding-left: 20px;
    clip-path: polygon(0% 100%, 4% 0%, 100% 0%, 96% 100%);
}

.battle_menu_right_counter span{
    display: inline-block;
    width: 4vw;
    height: 3.5vh;
}

#battle_menu_right_rounds{
    top: 40vh;
}

#battle_menu_right_difficulty{
    top: 45vh;
}

.party_menu_right_select{
    width: 15vw;
    left: 15.5vw;
    font-size: 1.5vw;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    position: absolute;
    transition: background-color .3s, color .3s;
    cursor: pointer;
    clip-path: polygon(0% 100%, 4% 0%, 100% 0%, 96% 100%);
}

#party_menu_right_members{
    top: 26vh;
}

#party_menu_right_classes{
    top: 34vh;
}

#party_menu_right_moves{
    top: 42vh;
}

.party_menu_right_select:hover{
    background-color: #1A1A1A;
    color: white;
}

.menu_table{
    position: absolute;
    text-align: center;
    width: 43vw;
    height: 56vh;
    top: 12vh;
    font-size: 1.5vw;
    border-spacing: 0px;
}

#classes_menu_right td{
    height: 5vh;
}

.menu_table tr{
    transition: background-color .3s
}

#classes_menu_right tr:first-child td:first-child {
    width: 3vw;
}

.menu_table tr:first-child td {
    border: none;
}

#classes_menu_right tr:nth-child(3):hover, #classes_menu_right tr:nth-child(4):hover, #classes_menu_right tr:nth-child(5):hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.menu_table td{
    transition: color .3s;
    border-top: 2px solid #DDDDDD;
}

#classes_menu_right tr:first-child span{ 
    writing-mode: vertical-rl;
    text-align: right;
    transform: rotate(-5deg)
}

#moves_menu_right td{
    height: 3vh
}

#moves_menu_right td:first-child{
    width: 10vw;
}

#moves_menu_right td:nth-child(3), #moves_menu_right td:nth-child(4), #moves_menu_right td:nth-child(5), #moves_menu_right td:nth-child(6){
    width: 3vw;
}

#moves_menu_right table{
    height: 3vh;
    font-size: 1.25vw;
    table-layout:fixed;
}

#moves_menu_right table:nth-child(2){
    top: 15vh;
}

#moves_menu_right table:nth-child(3){
    top: 40vh;
}

.moves_menu_tiny_header{
    position: absolute;
    width: 43vw;
    text-align: center;
    font-size: 1.5vw;
    border-bottom: 3px dotted #888888;
}

.moves_menu_tiny_header:nth-child(4){
    top: 10vh;
}

.moves_menu_tiny_header:nth-child(5){
    top: 35vh;
}

#moves_menu_right img{
    width: 1.25vw;
    height: 1.25vw;
    image-rendering: pixelated;
}

#moves_menu_right tr:not(:first-child):hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.triangle{
    position: fixed;
    background-color: #1A1A1A;
    top: calc(10vh - 3px);
    width: .75vw;
    height: .75vw;
    clip-path: polygon(50% 100%, 0 0%, 100% 0%);
}

.p5Canvas{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}

#back{
    position: fixed;
    z-index:-5;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: url(https://images.pexels.com/photos/265047/pexels-photo-265047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 5vh;
}

body{
    font-family:Arial;
    overflow: hidden;
    user-select: none;
}