.wheeler{
    margin-right:auto;
    margin-left:auto;
    width:90px;
}

.wheel{
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    position:absolute;
    z-index:-1;
}

.framer{
    border:10px solid purple;
    width:29px;
    height:29px;
    position:fixed;
    z-index:2;
    transform: translate(-10px, 40px);

}

.near{
    transform: translate(-7px, 14px);
}