@font-face { font-family: Whiterabt; src: url('whitrabt.ttf'); } 
@font-face { font-family: Vt; src: url('VT323-Regular.ttf'); }


body{
    background-color:black;
    background-image: url("space.gif");
    width: 12000px;
    height:12000px;
    user-select:none;
    font-family:Arial;
}

.traveller{
    position:absolute;
    border-radius:50px;
    background-color:purple;
    width:20px;
    height:20px;
    z-index:0;
}

::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    height: 2px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #33ff66;
}

#liners > polyline{
    stroke:purple;
    fill:transparent;
    stroke-width:1;
}

#empireinfo{
    background-color:black;
    background-image: url("computerscreen.jpeg");
    background-position:center;
    background-size:cover;
    border:3px solid #0c0c0c;
    position:fixed;
    top:10px;
    right:10px;
    width:25%;
    height:20%;
    overflow:auto;
    z-index:7;
    text-align:left;
    color:#33ff66;
    font-family:Vt;
    opacity: .72;
}

.ui{
    display:none;
}

#headerbox{
    background-color:black;
    background-image: url("computerscreen.jpeg");
    background-position:center;
    background-size:cover;
    border:3px solid #0c0c0c;
    position:fixed;
    top:10px;
    left:10px;
    width:25%;
    height:20%;
    overflow:auto;
    z-index:7;
    text-align:left;
    color:#33ff66;
    font-family:Vt;
    opacity: .72;
}

#headerbox span{
    opacity:1;
}

#detailedinfo{
    background-image: url("detailback.jpg");
    background-color:grey;
    border-radius:2px 2px 3px 3px;
    position:fixed;
    top:23%;
    left:-55%;
    width:45%;
    height:75%;
    z-index:2;
    opacity: .32;
    border:3px solid blue;
}

#planetname{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:100%;
    font-size:30px;
}

.planet{
    width:50px;
    height:50px;
    position:absolute;
    z-index:1;
}

#liners{
    z-index:-5;
    position: absolute;
}

#lactive{
    z-index:-4;
    position: absolute;
}