body{
    background-color:black;
    background-image: url("space.gif");
    width: 6900px;
    height:6900px;
}

::-webkit-scrollbar { 
    display: none; 
}

#headerbar{
    background-color:red;
    position:fixed;
    top:0px;
    left:0px;
    width:48%;
    z-index:6;
    height:5%;
    border-radius:0px 0px 4px 0px;
}

#test{
    width:1300px;
    text-align:right;
    background-color:grey;
}

#headerbar-under{
    display:none;
    background-color:blue;
    position:fixed;
    top:5%;
    left:0px;
    width:45%;
    height:5%;
    z-index:-1;
    border-radius:0px 0px 4px 0px;
}

#headerbox{
    background-color:red;
    border-radius:0px 0px 4px 0px;
    position:fixed;
    top:0%;
    left:0px;
    width:10%;
    height:20%;
    overflow:auto;
    z-index:7;
}


#detailedinfo{
    background-color:grey;
    border-radius:2px 2px 3px 3px;
    position:fixed;
    top:23%;
    left:-43%;
    width:45%;
    height:75%;
    z-index:2;
}

.planet{
    width:50px;
    height:50px;
    position:absolute;
    z-index:1;
}

#liners{
    z-index:-5;
    position: absolute;
}

#lactive{
    z-index:-4;
    position: absolute;
}