body{
    background-color:black;
    cursor:none;
}

.unit{
    position:absolute;
    width:1px;
    height:1px;
    background-color:white;
}

#dot{
    background-color:red;
    width:1px;
    height:1px;
    cursor:none;
}