.food-icon{
    width: 22px;
    height: 22px;
    margin-top:4px;
    display: inline-block;
    background-color: #404040;
    border-radius: 6px;
    margin-right:2px;
    margin-left:0px;
}

.cashicon{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height:1px !important;
}

.page-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.bldgbuy{
        width:100% !important;
        border-radius:3px !important;
}

.text{
    display: inline;
    font-size:18px;
    vertical-align: super;
    line-height:35px;
}

body{
    font-family: Arial;
    background-color: #e8e8e8;
    user-select: none;
    cursor: context-menu;
}

.boxholder{
    text-align:center;
}

#foodappear{
    color:green;
}

#goldappear{
    color:#e06c00;
}

#scienceappear{
    color:#0052e0;
}

#mineralappear{
    color:#898989;
}

#cultureappear{
    color:#750ad3;
}

#uraniumappear{
    color:#898989;
}

#traditionappear{
    color:#e82110;
}

#oilappear{
    color:#898989;
}

#politicalappear{
    color:#750ad3;
}

#housingappear{
    color:green;
}

#equipmentappear{
    color:#e82110;
}

#jewelappear{
    color:#e06c00;
}

#energyappear{
    color:#17d670;
}

.appearer{
    z-index:3;
    position:absolute;
    text-align:center;
    width:178px;
    text-shadow:0px 0px 16px black;
    user-select: none;
}

.header{
    width:100%;
    border-bottom: 5px solid #000000;
    /*background-image: url("header_bg.png");*/
    /*background-repeat: repeat;*/
    text-align:center;
    position:fixed;
    top: 0;
    left: 0;
    padding:6px 0px 0px 6px;
    background-color:grey;
    height:4%;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ledger{
    border: 2px solid #bcbcbc ;
    border-radius:3px;
    position: fixed;
    top:5%;
    left: 0;
    height:98%;
    width:310px;
    text-align:center;
    background-color: white;
    z-index:-1;
    
}

.ledger td{
    padding:1px;
}

.ledger{
    width:100%;
    border-collapse:collapse;
}

.page{
    overflow: scroll;
    overflow-x: scroll;
    position:fixed;
    left:310px;
    top:5%;
    height:100%;
    width:90%;
    z-index:-2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    opacity: .94;
}

#page1{
    background-image: url('page1.png');
}

#page2{
    background-image: url('page2.png');
}

#page3{
    background-image: url('page3.png');
}

.ledger-tab{
    padding:5px;
}

.ledgerheader{
    width:98%;
    height:25px;
    text-align:center;
    background-color:white;
    font-size:20px;
    border-bottom: 3px solid #bcbcbc;
    padding:2px;
}

.buffer{
    height:10px;
    width:178px;
}


#main{
    margin-left: auto;
    margin-right:auto;
    border-collapse: collapse;
    height:150%;
    opacity: .94;
}

.final{
    height:100%;
}

.break{
    border-top: 3px solid #dbdbdb;
    border-bottom: 3px solid #dbdbdb;
    background-color: #edeaea;
    text-align:center;
    font-weight:bold;
    padding:5px;
}


.footer{
    width:100%;
    height: 24px;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    border-top: 5px solid #000000;
    /*background-image: url("header_bg.png");*/
    background-repeat: repeat;
    background-color:grey;
}

.tooltip {
    position: relative;
    display: inline;
    cursor:help;
}

.tooltip2 {

}

.noinline{
    display: inline-block;
}

.pager{
    color: #626262;
    border-radius:8px;
    height:29px;
    background-color:white;
    border:1px ridge black;
    padding-bottom:5px;
    display:inline-block;
}

.depress:active{
  transform: scale(1.1,1.1);
  }

.clicker{
    width:80px;
    height:80px;
}

.convert-clicker{
    width:35px;
    height:30px;
}

.button{
    cursor:pointer;
    user-select: none;
}

.click{
    width:80px;
    height:80px;
    border-radius:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:15px;
    z-index:-1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right:200px;
    width:120px;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.tooltip .large{
    width:120px;
}

.tooltip .science{
    width:170px;
    right:200px;
    top:0;
}

.tooltip .convert{
    width: 200px;
    right:30px;
    top:0px;
}

.detailer{
    height:28px;
    padding-top:4px;
}

.boxholder{
    margin-left:5px;
    margin-right:5px;
    border: 3px solid #efefef ;
    border-radius:3px;
    width:168px;
    text-align: center;
    background-color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

#tech_name{
    font-weight:bold;
}

#tech_descr{
    font-size:12px;
    width:90px;
}

#super{
    position: relative;
    height:16px;
    width:10px;
    left:3px;
    top:3px;
    background-color:purple;
    z-index:0;
    border-radius:2px;
}

#superback{
    background-color:darkgrey;
    z-index:-1;
    width:206px;
    height:22px;
    border-radius:2px;
    margin-left:auto;
    margin-right:auto;
}

#superbox{
    width:200px;
    height:20px;
    margin-left:auto;
    margin-right:auto;
}

.click:active {
  transform: scale(.95,.95);
}

#food_click{
    background-color:#4fff51;
    margin-left:auto;
    margin-right:auto;
}

#housing_click{
    background-color:#4fff51;
    margin-left:auto;
    margin-right:auto;
}

#gold_click{
    background-color:#ffc44f;
    margin-left:auto;
    margin-right:auto;
}

#jewel_click{
    background-color:#ffc44f;
    margin-left:auto;
    margin-right:auto;
}

#science_click{
    background-color: #4f6fff;
    margin-left:auto;
    margin-right:auto;
}

#energy_click{
    background-color: #4fffa1;
    margin-left:auto;
    margin-right:auto;
}

#culture_click{
    background-color: #ac4fff;
    margin-left:auto;
    margin-right:auto;
}

#political_click{
    background-color: #ac4fff;
    margin-left:auto;
    margin-right:auto;
}

#mineral_click{
    background-color: #A59989;
    margin-left:auto;
    margin-right:auto;
}

#uranium_click{
    background-color: #A59989;
    margin-left:auto;
    margin-right:auto;
}

#tradition_click{
    background-color: #ff5d4f;
    margin-left:auto;
    margin-right:auto;
}

#equipment_click{
    background-color: #ff5d4f;
    margin-left:auto;
    margin-right:auto;
}

#oil_click{
    background-color: #A59989;
    margin-left:auto;
    margin-right:auto;
}

#convertbutton{
    background-color: turquoise;
    display: inline-block;
    border-radius:5px;
    width:109px;
    padding:0px 3px 0px 3px;
    margin-right: auto;
    margin-left:auto;
    text-align:center;
    z-index:-1;
}

.topalign{
    vertical-align:top;
}

.buy_button{
    width:40px;
    height:40px;
    text-align:center;
    background-color: #efefef;
    border-radius:30px;
}

.buy_button:hover{
    background-color: #e5e5e5;
}

.buy_button:active{
    background-color: #e5e5e5;
  transform: scale(.975,.975);
}


.workers-box{
}

#rightside{
    border: 2px solid #bcbcbc ;
    border-radius:3px;
    position: fixed;
    top:5%;
    right: 0;
    height:98%;
    width:310px;
    text-align:left;
    background-color: white;
    z-index:-1;
    border-collapse:collapse;
    text-align:center;
}

#conversionheader{
   text-align:center;
}

.science-box{
    bottom: 17%;
    border: 1px solid black;
    width:200px;
    text-align:center;
    background-color: white;
}

#near_tech{
    right: 220px;
    bottom: 19%;
}

#near_worker{
    right: 220px;
    bottom: 7.5%;
    border-collapse: collapse;
}

.flashing{
    color:white;
    font-size:30px;
    border: 1px solid black;
    width:33px;
    height:33px;
    vertical-align: middle;
    text-align:center;
    line-height:33px;
    background-color: #30e000;
    border-radius:100px;
    box-shadow: 3px 3px 2px 0px black;
    margin-left:auto;
    margin-right:auto;
}

.always_flash{
    width:20px;
}

#worker_holder{
    width:100%;
    border: 1px solid black;
    width:200px;
    height:9%;
    text-align:center;
    background-color: white;
}

#convert_holder{
    width:100%;
    border-collapse: collapse;
}

#science_holder{
    width:100%;
    border: 1px solid black;
    width:200px;
    height:9%;
    text-align:center;
    background-color: white;
}

.sidebar{
    width: 10px;
    font-size: 10px;
    letter-spacing: 10px;
    float:right;
    overflow-wrap:break-word;
    vertical-align:middle;
}

.row-even{
    background-color:#eff2f2;
    height:40px;
}

.row-odd{
    background-color:#e8e8e8;
    height:40px;
}

.row{
    height:40px;
}

.rate{
    display:inline-block;
    line-height:40px;
}

.amt{
    font-weight:bold;
}

.fpsamt{
    font-weight:lighter;
}

.footer td{
    width:33%;
}