#gridtable {
    border-collapse: collapse;
    position:absolute;
    left:0;
    top:0;
}

.gridcol{
    border: 0px solid grey;
}

body{
    overflow: hidden;
    width:5000px;
    height:5000px;
}

#flasher{
    background-color: green;
    position:fixed;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
}