.bullet{
    position: absolute;
    width: 8px;
    height: 25px;
    background-color: yellow;
    border-radius: 30%;
    pointer-events: none;
}

#ship{
    transition: transform .05s
}

.shielded{
    background-color: rgba(20,20,255,.7);
    padding:10px;
    border-radius:100%;
}

.enemy{
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    pointer-events: none;
}

.star{
    position:fixed;
    width:1px;
    height:1px;
    background-color:white;
    pointer-events: none;
}

.power{
    position:fixed;
    width:30px;
    height:30px;
    border-radius: 100%;
    z-index:-1;
    pointer-events: none;
}

#all{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#death{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:20;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
}

html, body{
    overflow: hidden;
    background-color: black;
    user-select: none;
    position: relative;
}
