.bullet{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 100%;
}

#ship{
    transition: transform .15s
}

canvas{
    pointer-events: none;
    opacity: .2;
}

body{
    overflow: hidden;
    background-color: black;
    user-select: none;
}

.unit{
    position:fixed;
    width:1px;
    height:1px;
    background-color:white;
}