#loadingleft{
    z-index:20;
    width:50%;
    height:100%;
   background:  linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.95)),  url('steelback.jpg') no-repeat center;
   background-size: cover;
    position:absolute;
    top:0;
    left:0%;
    border-right: 5px solid black;
}

#loadingright{
    z-index:19;
    width:50%;
    height:100%;
   background: linear-gradient(to left bottom, rgba(0,0,0,.4), rgba(0,0,0,.9)),  url('steelback.jpg') no-repeat center;
   background-size: cover;
    position:absolute;
    top:0;
    right:0;
    border-left: 5px solid black;
}

#logo{
    z-index:7;
    width:100%;
    height:125px;
    background-color: white;
    position:absolute;
    top:50px;
    left:50%;
    border-radius:8px;
    border: 5px solid black;
    line-height:125px;
    text-align:center;
    font-size:70px;
}

#loadingicon{
    position:absolute;
    z-index:7;
    top:50%;
    left:95%;
    border: 5px solid black;
    background-color: white;
    width:95px;
    border-radius:150px;
}

.food-icon{
    width: 1.2vw;
    height: 1.2vw;
    display: inline-block;
    vertical-align: top;
    background-color: #404040;
    border-radius: 6px;
    margin-right:2px;
    margin-left:0px;
}

.text{
    display: inline;
    font-size:18px;
    line-height:35px;
}

body{
    font-family: Arial;
    background-color: #e8e8e8;
    user-select: none;
    cursor: context-menu;
    overflow-x: none;
}

#foodappear{
    color:green;
}

#goldappear{
    color:#e06c00;
}

#scienceappear{
    color:#0052e0;
}

#mineralappear{
    color:#898989;
}

#cultureappear{
    color:#750ad3;
}

#uraniumappear{
    color:#898989;
}

#traditionappear{
    color:#e82110;
}

#oilappear{
    color:#898989;
}

#politicalappear{
    color:#750ad3;
}

#housingappear{
    color:green;
}

#equipmentappear{
    color:#e82110;
}

#jewelappear{
    color:#e06c00;
}

#energyappear{
    color:#17d670;
}

.appearer{
    pointer-events: none;
    z-index:3;
    position:absolute;
    text-align:center;
    width:178px;
    text-shadow:0px 0px 16px black;
    user-select: none;
}

#header{
    width:100%;
    /*background-image: url("header_bg.png");*/
    /*background-repeat: repeat;*/
    text-align:center;
    position:absolute;
    bottom: 0;
    left: 0;
    padding:6px 0px 0px 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header table{
    height: 6vh;
    font-size:3vh;
    transition: background-color .2s, transform .5s
}

#header table:hover{
    background-color: #ccc;
    transform: translateX(1vw)
}

.page-icon{
    width: 4vh;
    height: 4vh;
    display: inline-block;
}

.ledgerheader{
    width:98%;
    height:25px;
    text-align:center;
    background-color:white;
    font-size:20px;
    border-bottom: 3px solid #bcbcbc;
    padding:2px;
}

#ledger{
    border: 2px solid #bcbcbc ;
    border-radius:3px;
    position: fixed;
    left: 0;
    top:0;
    height:100%;
    width:18vw;
    text-align:center;
    background-color: #eff2f2;
    z-index:-1;
    
}

#ledgertablecontain{
    overflow-y: auto;
    width:100%;
    max-height: 68vh;
    height: 68vh;
    background: url("zebra.png") repeat 0px 83px;
}

.ledger{
    width:100%;
    border-collapse:collapse;
}

.ledger td{
    padding:1px;
}

.page{
    overflow: auto;
    overflow-x: scroll;
    position:fixed;
    top: 0;
    width:calc(64vw - 4px);
    left: calc(18vw + 2px);
    height: 120vh;
    max-height:100vh;
    z-index:-2;
}

#page-back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: -3;
    filter: blur(.1px);
    background-image: url("https://66.media.tumblr.com/9683f42a69f90336b59abab4caf6de8d/tumblr_inline_n2598ou0zw1qhwjx8.gif");
    animation: page-back 4s linear infinite
}

@keyframes page-back{
    from{background-position: 0px 0px}
    to {background-position: 122px 124px}
}

.ledger-tab{
    padding:5px;
}

.buffer{
    height:0px;
    width:0px;
}


#main{
    margin-left: auto;
    margin-right:auto;
    border-collapse: collapse;
    width: 100%;
    opacity: .94;
}

.final{
    height:100%;
}

.break{
    border-top: 3px solid #dbdbdb;
    border-bottom: 3px solid #dbdbdb;
    background-color: #edeaea;
    text-align:center;
    font-weight:bold;
    padding:5px;
}

#spinner{
    z-index:5;
    width: 2vw;
    height: 2vw;
    border-radius: 10%;
    position:fixed;
    background-color: red;
    cursor: pointer;
    box-shadow:        0vw 0vw .25vw .25vw rgb(255, 0, 0), 0vw 0vw .5vw .5vw rgb(255, 55, 55);
    animation: spinner 2s ease-in-out infinite alternate;
    transition: filter .2s
}

#spinner:hover{
    filter: brightness(1.2)
}

#innerSpinner{
    width: 2vw;
    height: 2vw;
    line-height: 2vw;
    font-size: 2vw;
    color: white;
    text-align: center;
    animation: innerSpinner .5s ease-in-out infinite alternate
}

@keyframes spinner {
    from {transform: scale(1)}
    to {transform: scale(1.5)}
}

@keyframes innerSpinner{
    from{transform: rotate(-.25rad)}
    to {transform: rotate(.25rad)}
}

.footer{
    width:calc(64vw - 14px);
    bottom: 0;
    left: calc(18vw + 2px);
    height: 30px;
    position: absolute;
    text-align: center;
    /*background-image: url("header_bg.png");*/
    background-repeat: repeat;
    background-color:#bcbcbc;
    transition: opacity .5s
}

.footer:hover{
    opacity: .95
}

.tooltip {
    position: relative;
    display: inline;
    cursor:help;
}

.tooltip2 {

}

.noinline{
    display: inline-block;
}

.bldgback{
    width: 50px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}

.convert-clicker{
    width:35px;
    height:30px;
}

.button{
    cursor:pointer;
    user-select: none;
}

.button:active{
    transform: translateY(5%) scale(.97)
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right:200px;
    width:120px;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.tooltip .large{
    width:120px;
}

.tooltip .science{
    width:170px;
    right:200px;
    top:0;
}

.tooltip .convert{
    width: 200px;
    right:30px;
    top:0px;
}

.detailer{
    height:28px;
    padding-top:4px;
}

.boxholder{
    margin-left:2px;
    margin-right:2px;
    border: 2px solid #4f4f4f ;
    border-radius:3px;
    width:10.5vw;
    height:105px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size:14px;
   background-size:cover; 
}

.fakeholder{
    margin-left:2px;
    margin-right:2px;
    border-radius:3px;
    width:10.5vw;
    height:0;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size:14px;
}

.fakeholder * {
    display:none;
}

.clicktd{
    width:7vw;
}

.boxholderheader{
    color:white;
    background: rgba(0,0,0,.45);
    border-radius:5px;
    width:100px;
    top:6px;
    position:relative;
    margin-right:auto;
    margin-left:auto;
}

.bldgbuy{
    width:104% !important;
    border-radius:0px 0px 3px 3px !important;
    position: relative;
    top:20px;
    height:30px;
    line-height: 30px;
    left:-3px;
    font-size: .8vw;
    padding-top:2px !important;
    background-color: rgba(0,0,0,.5);
}

.bldgbuy:hover{
    background-color: rgba(0,0,0,.35);
}

#tooltip{
    position: absolute;
    background: url("weatheredbackground.png"), black repeat;
    box-shadow:   inset 0 0 4px 3px #000000;
    color: white;
    text-shadow: 2px 2px 3px black;
    border-radius: 4px;
    padding: 1vw;
    transform: translate(-50%, -50%);
    transition: opacity .2s, left .4s, right .4s;
    pointer-events: none;
}

#blocker{
    z-index: 9;
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    background: url("weatheredbackground.png"), black repeat;
    opacity: .4;
    pointer-events: none;
    transition: opacity .2s;
}

#helper{
    z-index: 10;
    position: absolute;
    background: url("weatheredbackground.png"), black repeat;
    box-shadow:   inset 0 0 4px 3px #000000;
    color: white;
    width: 10vw;
    text-shadow: 2px 2px 3px black;
    border-radius: 4px;
    text-align: center;
    padding: 1vw;
    transform: translate(-50%, -50%);
    transition: opacity .2s, left .4s, right .4s;
    pointer-events: none;
}

#tech_name{
    font-weight:bold;
}

#tech_descr{
    font-size:12px;
    width:90px;
}

#tech-data{
    position: relative;
    left: 50%;
    top: 5vh;
    text-align: center;
    color: white;
    font-size: 1vw;
    transform: translateX(-50%);
    width: 60vw;
    border-spacing: 0;
    text-shadow: 2px 2px 3px black;
}

#tech-data tr{
    height: 4vh;
    line-height: 4vh;
    box-shadow:   inset 0 0 4px 3px #000000;
    border: 2px solid black;
    cursor: pointer;
    transition: transform .4s, filter .3s;
}

[status="completed"]{
    background: url("weatheredbackground.png"), gold repeat;
    color: black;
    text-shadow: 2px 2px 3px white;
}

[status="available"]{
    background: url("weatheredbackground.png"), blue repeat;
}

[status="hidden"]{
    background: url("weatheredbackground.png"), red repeat;
    opacity: .6
}

#tech-data tr:hover{
    transform: scale(1.02);
    filter: brightness(1.1)
}

#tech-data tr:active{
    filter: brightness(.7)
}

#tech-data td{
    padding: 1vh;
}

.tech-icon{
    display: inline-block;
    width: 4.5vh;
    height: 4.5vh;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 3px black)
}

.tech-icon:hover{
    transform: scale(1.1);
    filter:drop-shadow(0px 0px 4px 10px yellow)
}

#special{
    position: relative;
    height:16px;
    width:10px;
    left:3px;
    top:3px;
    background-color:purple;
    z-index:0;
    border-radius:2px;
    transition: background-color .5s
}

#specialback{
    background-color:darkgrey;
    z-index:-1;
    width: 15vw;
    height:22px;
    border-radius:2px;
    margin-left:auto;
    margin-right:auto;
    transition: background-color .5s
}

.click{
    width:5vw;
    height:5vw;
    border-radius:5px;
    margin-bottom:1vh;
    margin-top:1vh;
    z-index:-1;
    transition: transform .1s;
}

.clicker{
    width:5vw;
    height:5vw;
}

.click:active {
  transform: scale(.97,.97) translateY(5px);
}

.clickeer{
    margin-left:auto;
    margin-right:auto;
}

.convert-button{
    background-color: turquoise;
    display: inline-block;
    border-radius:5px;
    width:7vw;
    height: 1.8vw;
    line-height: 1.8vw;
    padding:0px 3px 0px 3px;
    margin-right: auto;
    margin-left:auto;
    text-align:center;
    z-index:-1;
}

.convert-button img{
    vertical-align: middle;
}

.topalign{
    vertical-align:top;
}

#exp{
    width: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.settings{
    background: url("oldtile.png"), turquoise;
    box-shadow:   inset 0 0 4px 3px #000000;
    padding: 1vw;
    margin: .5vw;
    width: 5vw;
    height: 3vh;
    font-size: 1vw;
    text-align: center;
    line-height: 3vh;
    transform: translateX(-50%);
    transition: transform .2s, filter .2s;
}

.settings:hover{
    filter: brightness(1.1);
    transform: translateX(-50%)
}

.settings:active{
    filter: brightness(.9);
    transform: translateX(-50%) translateY(5%) scale(.95)
}

.buy_button{
    width:40px;
    height:40px;
    text-align:center;
    background-color: #efefef;
    border-radius:30px;
}

.buy_button:hover{
    background-color: #e5e5e5;
}

.buy_button:active{
    background-color: #e5e5e5;
  transform: scale(.975,.975);
}


.workers-box{
}

#rightside{
    border: 2px solid #bcbcbc ;
    border-radius:3px;
    position: fixed;
    top:0;
    right: 0;
    height:100%;
    width:18vw;
    text-align:left;
    background-color: white;
    z-index:-1;
    border-collapse:collapse;
    text-align:center;
}

#conversionheader{
   text-align:center;
}

.science-box{
    bottom: 17%;
    border: 1px solid black;
    width:200px;
    text-align:center;
    background-color: white;
}

#near_tech{
    right: 220px;
    bottom: 19%;
}

#near_worker{
    right: 220px;
    bottom: 7.5%;
    border-collapse: collapse;
}

.flashing{
    color:white;
    font-size:30px;
    border: 1px solid black;
    width:33px;
    height:33px;
    vertical-align: middle;
    text-align:center;
    line-height:33px;
    background-color: #30e000;
    border-radius:100px;
    box-shadow: 3px 3px 2px 0px black;
    margin-left:auto;
    margin-right:auto;
}

.always_flash{
    width:20px;
}

#worker_holder{
    width:100%;
    border: 1px solid black;
    width:200px;
    height:9%;
    text-align:center;
    background-color: white;
}

#convert_holder{
    width:100%;
    border-collapse: collapse;
}

#science_holder{
    width:100%;
    border: 1px solid black;
    width:200px;
    height:9%;
    text-align:center;
    background-color: white;
}

.sidebar{
    width: 10px;
    font-size: 10px;
    letter-spacing: 10px;
    float:right;
    overflow-wrap:break-word;
    vertical-align:middle;
}

.row-even{
    background-color:#eff2f2;
    height:40px;
}

.row-odd{
    background-color:#e8e8e8;
    height:40px;
}

.row{
    height:40px;
}

#charge_box{
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #efefef ;
    border-radius:3px;
    width:168px;
    text-align: center;
    background-color: white;
    margin-top: 70px;
}

#chargebox{
    text-align:center;
    width:100%;
}

.chargetitle{
    
    font-size:12px;
    font-weight: bolder;
}

#appearrow{
    height:0px;
}

.rate{
    display:inline-block;
    line-height:40px;
}

.amt{
    font-weight:bold;
}

.fpsamt{
    font-weight:lighter;
}

#spinnerAlert{
    position: absolute;
    height: 5vh;
    width: 20vw;
    left: 50vw;
    line-height: 5vh;
    font-size: 1vw;
    transform: translateX(-50%);
    box-shadow:   inset 0 0 4px 3px #000000;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 5px;
}