<div #tooltipbox class="tooltip" *ngIf="hoveredSkill != undefined" 
        [ngStyle]="{'top.px': topOffset, 'left.px': leftOffset, 'opacity': opacity}">
    <div class="header">
        <div class="icon">
            <img src="../../assets/{{hoveredSkill!.icon}}"/>
        </div> 
        <div class="title">
            <span class="name">{{hoveredSkill!.name}}</span><br>
            <span class="type">{{hoveredSkill!.name}}</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="description">{{hoveredSkill.description()}}</div>
    <div class="flavour">"{{hoveredSkill.flavour}}"</div>
</div>