body{
    font-family: Arial;
    background-color: #e8e8e8;
    user-select: none;
    cursor: context-menu;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: linear-gradient(rgba(15, 15, 15, .3), rgba(15, 15, 15, .3)), url("sparkle1.png");
    background-size: 251px;
    background-repeat: repeat;
    animation: background-flow1 40s linear infinite;
}

@keyframes background-flow1{
    from{
        background-position: 0px 0px;
    }
    to {
        background-position: 251px 251px
    }
}

@keyframes background-flow2{
    from{
        background-position: 0px 0px;
    }
    to {
        background-position: -402px 402px
    }
}

p{
    all: unset;
}

a{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}

#copiedMessage{
    position: fixed;
    left: 50vw;
    bottom: 5vh;
    width: 10vw;
    height: 3.5vh;
    line-height: 3.5vh;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 2px;
    z-index: 10;
    transform: translateX(-50%);
}

#loadingleft{
    z-index:20;
    width:50%;
    height:100%;
    background:  linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.95)) no-repeat center;
    background-size: cover;
    position:absolute;
    top:0;
    left:0%;
    border-right: 5px solid black;
}

#loadingright{
    z-index:19;
    width:50%;
    height:100%;
    background: linear-gradient(to left bottom, rgba(0,0,0,.4), rgba(0,0,0,.9)) no-repeat center;
    background-size: cover;
    position:absolute;
    top:0;
    right:0;
    border-left: 5px solid black;
}

#logo{
    z-index:7;
    width:100%;
    height:125px;
    background-color: white;
    position:absolute;
    top:50px;
    left:50%;
    border-radius:8px;
    border: 5px solid black;
    line-height:125px;
    text-align:center;
    font-size:70px;
}

#loadingicon{
    position:absolute;
    z-index:7;
    top:50%;
    left:95%;
    border: 5px solid black;
    background-color: white;
    width:95px;
    border-radius:150px;
}

#tooltip{
    position: absolute;
    box-shadow:   inset 0 0 4px 3px #000000;
    color: white;
    text-shadow: 2px 2px 3px black;
    border-radius: 4px;
    padding: 1vw;
    transform: translate(-50%, -50%);
    transition: opacity .2s, left .4s, right .4s;
    pointer-events: none;
}

#drag{
    position: fixed;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
}

#help{
    position: absolute;
    top: 0;
    height: 100%;
    width: 8vw;
    padding: .5vw;
    right: -7vw;
    background: linear-gradient(to left, rgba(60,60,60,.5), rgba(60,60,60,.3));
    transition: .2s;
    z-index: 4;
    text-align: center;
}

#help:hover{
    transform: translateX(-7vw);
    background: linear-gradient(to left, rgba(60,60,60,.6), rgba(60,60,60,.4));
}

#help div{
    color: black;
    border: 3px solid black;
    color: white;
    background-color: rgba(10,10,10,.75);
    margin-top: 10px;
    padding: 5px;
    font-size: 1vw;
}

#help div:hover{
    text-shadow: 0px 0px 2px white;
}

.button{
    cursor: pointer;
    transition: transform .02s
}

.button:hover{
    transform: scale(.95)
}

.button:active{
    transform: scale(.9)
}

#settings-cover{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

#settings-box{
    width: 70vw;
    height: 70vh;
    padding: 2vh;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("starsglow1.gif");
    background-size: 402px 402px;
    border: 2px solid rgba(0,0,0,.7);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,.7);
    animation: background-flow2 60s linear infinite;
    color: white;
}

#settings-box ul{
    all: unset;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    background-color: rgba(240, 240, 240, .4)
}

#settings-box li{
    float: left;
    font-size: 1.5vw;
    padding: .5vw;
}

#settings-exit{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5vw;
    padding: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: -5px;
    background-color: rgba(200, 100, 105, .4);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#settings-list div{
    float: left;
    width: 10vw;
    height: 5vh;
    line-height: 5vh;
    margin: .5vw;
    border-radius: 4px;
    background-color: rgba(240, 240, 240, .4)
    
}

.centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

/* -----------------------------DRAGONS/SLOTS---------------------------- */
.dragon{
    display: inline-block;
    width: 3vw;
    height: 3vw;
    transform: scale(1.5)
}

.dragonSlot{
    display: inline-block; /* will be defined otherwise as element style */
    width: 3vw;
    height: 3vw;
    margin: .25vw;
    padding: calc(.25vw - 3px);
    border: 3px solid rgba(255, 255, 255, .025);
    border-radius: 5px;
    transition: .1s;
    cursor: pointer;
    vertical-align: middle;
}

.dragonSlot:hover{
    border: 3px solid rgba(255, 255, 255, .4);
}

.dragonSlot:active{
    border: 3px solid rgba(255, 255, 255, .8);
}

/* -------------------------------LAYOUT--------------------------------- */
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0vh;
    width: 100vw;
    height: 88.5vh;
    padding: 0;
}

#bufferBar{
    position: absolute;
    background-color: rgba(15,15,15,.7);
    bottom: 1vh;
    height: 4vw;
    padding: .25vw;
    width: 93vw;
    left: 3.25vw;
    border-radius: 5vw;
    transition: .1s;
    text-align: center;
}

/* ------------------------------PAGE-1---------------------------------- */
#pen-switch{
    z-index: 2;
    background-color: rgba(150,150,150,.5);
    height: 5vh;
    margin-top: 1vw;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#pen-switch div{
    font-size: 2vw;
    height: 5vh;
    line-height: 5vh;
    padding-left: .5vw;
    padding-right: .5vw;
    display: inline-block;
    color: black;
    transition: .2s;
    cursor: pointer;
}

#pen-switch div[current="true"]{
    background-color: rgba(30,30,30,.6);
    color: white;
}

#pen-switch div:hover{
    background-color: rgba(20,20,20,.6);
    color: white;
}

#edit-icon img{
    width: 3vh;
    height: 3vh;
}

#pen-info{
    background-color: rgb(51, 51, 53, .9);
    color: white;
    height: 7.5vh;
    padding: .5vh;
    width: 50vw;
    vertical-align: middle;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0px 0px 20px 0px rgb(51, 51, 53, .9);
}

#pen-info div{
    display: inline-block;
    height: 7vh;
    font-weight: 800;
    font-size: 2vw;
    margin: .25vh;
    margin-left: .5vw;
    margin-right: .5vw;
    text-align: center;
    line-height: 3.5vh;
}

#pen-info div span{
    font-weight: 300;
    font-size: 1.4vw;
}

#pen{
    background-size: 400px;
    width: 88vw;
    margin: 1vw;
    padding: 1vw;
}

/* -----------------------------SCROLLBAR-------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 5px;
}