<app-skill-tooltip [hoveredSkill]="hoveredTooltipSkill" [element]="hoveredElement" [opacity]="hoveredOpacity"></app-skill-tooltip>
<div class="skill-selector">
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let skill of skills">
            <button [class.selected]="skill === selectedSkill" type="button" (click)="onSelect(skill)"
                    (mouseover)="mouseoverSlot($event, skill)" (mouseout)="mouseoutSlot($event, skill)">
                <span class="badge">{{skill.icon}} </span>
                <span class="name">{{skill.name}}</span>
            </button>
        </li>
    </ul>
</div>
