@font-face { font-family: Whiterabt; src: url('whitrabt.ttf'); } 
@font-face { font-family: Vt; src: url('VT323-Regular.ttf'); }


body{
    background-color:black;
    /*background-image: url("space.gif");*/
    width: 3000px;
    height:3000px;
    user-select:none;
    font-family:Arial;
}

.traveller{
    position:absolute;
    border-radius:50px;
    width:20px;
    height:20px;
    z-index:0;
}

#fol{
    position: absolute;
    width:20px;
    height:20px;
    background-color:red;
}

#borderbox{
    z-index:-5;
    position:absolute;
    opacity:.2;
    left:0;
    top:0;
}

table{
    position:absolute;
    border-collapse:collapse;
    left:5px;
    top:5px;
}

#grid td{
    border:0px solid #5C5C5C;
}

.name{
    background-color:red;
    width:50px;
    height:15px;
   line-height:15px;
   text-align:center;
  position:relative;
  padding:5px;
  margin:1em 0 3em;
  border-radius:1px;
    font-family:Vt;
    background-image: url("computerscreen.jpeg");
    color:#33ff66;
    border:2px solid #33ff66;
    opacity:.45;
    z-index:3;
    display:none;

}


.name:after {
  content:"";
  position:absolute;
  bottom:-11px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:10px 10px 0px 10px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color: #33ff66 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    height: 2px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #33ff66;
}

#liners > polyline{
    stroke:purple;
    fill:transparent;
    stroke-width:1;
}

#empireinfo{
    background-color:black;
    background-image: url("computerscreen.jpeg");
    background-position:center;
    background-size:cover;
    border:3px solid #0c0c0c;
    position:fixed;
    top:10px;
    left:10px;
    width:62%;
    height:7%;
    overflow:auto;
    z-index:7;
    text-align:left;
    color:#33ff66;
    font-family:Vt;
    opacity: .72;
}

.ui{
    display:none;
}

#daybox{
    background-color:black;
    background-image: url("computerscreen.jpeg");
    background-position:center;
    background-size:cover;
    border:3px solid #0c0c0c;
    position:fixed;
    bottom:10px;
    right:10px;
    max-width:240px;
    max-height:40px;
    min-width:240px;
    min-height:40px;
    overflow:auto;
    z-index:7;
    text-align:left;
    color:#33ff66;
    font-family:Vt;
    opacity: .72;
    resize: none;
}

#headerbox{
    background-color:black;
    background-image: url("computerscreen.jpeg");
    background-position:center;
    background-size:cover;
    border:3px solid #0c0c0c;
    position:fixed;
    top:10px;
    right:10px;
    width:35%;
    height:20%;
    overflow:auto;
    z-index:7;
    text-align:left;
    color:#33ff66;
    font-family:Vt;
    opacity: .72;
}

#ledger{
    background-color:black;
    background-image: url("computerscreen.jpeg");
    background-position:center;
    background-size:cover;
    border:3px solid #0c0c0c;
    position:fixed;
    top:22%;
    right:-57%;
    max-width:35%;
    max-height:60%;
    overflow:auto;
    z-index:7;
    text-align:left;
    color:#33ff66;
    font-family:Vt;
    opacity: .72;
}

#detailedinfo{
    background-image: url("computerscreen.jpeg");
    background-color:grey;
    border-radius:2px 2px 3px 3px;
    position:fixed;
    top:23%;
    left:-55%;
    width:33%;
    height:677px;
    z-index:2;
    opacity: .72;
    border:3px solid #0c0c0c;
    color:white;
}

#planetname img{
    display:inline-block;
}

#detailedinfo div{
    opacity:1;
}

#super{
    position: relative;
    height:9px;
    width:5px;
    left:2px;
    top:2px;
    background-color:#33ff66;
    z-index:0;
    border-radius:.5px;
}

#superback{
    background-color:black;
    z-index:-1;
    width:206px;
    height:13px;
    border-radius:.5px;
    margin-left:auto;
    margin-right:auto;
}

#superbox{
    width:200px;
    height:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#planetname{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:97%;
    font-size:30px;
    background-color:black;
    border: 2px solid white;
    border-radius:10px;
}

.planet{
    position:absolute;
    z-index:1;
}

#liners{
    z-index:-5;
    position: absolute;
}

#lactive{
    z-index:-4;
    position: absolute;
}

.unit{
    position:fixed;
    width:1px;
    height:1px;
    background-color:white;
}