@import (reference) "../app.component.less";
@icon-width: 16px;
@icon-padding: 4px;
@icon-margins: 2px;
@slot-width: @icon-width + @icon-padding * 2 + @icon-margins * 2;

.timeline-scroll{
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.timeline {
    width: 0px;
    table-layout: fixed;
    border-spacing: 0;

    background: url("../../assets/trackslot.png");
    background-size: @slot-width;

    border-top: 1px solid #352F2F;
    border-bottom: 1px solid #3F3B38;

    &.dragging {
        .slot.selected{
            opacity: 0;
        }
    } 
    &:not(.dragging){
        .slot:hover{
            background-color: rgba(0, 0, 100, .3);
        }

        .slot.time{
            box-shadow: inset 0px 0px 7px rgba(150, 0, 0, .9);
        }
    }
}


.slot {
    position: relative;
    width: @slot-width;
    height: @slot-width;
    cursor: pointer;
    vertical-align: top;

    border: none;
    padding: 0;
    outline: none;

    &.selected{
        .icon{
            background-color: green;
        }
    }

    &:hover{
        app-skill-tooltip{
            opacity: 1;
        }
    }
}

.icon {
    position: absolute;
    top: calc(@icon-margins + 1px);
    left: @icon-margins;
    width: @icon-width;
    height: @icon-width;
    padding: calc(@icon-padding - 3px);
    line-height: @icon-width;

    background-color: white;
    border: 3px solid transparent;
    border-image: url("../../assets/cookieclickerframe.png") 4 round;

    img{
        width: @icon-width;
        height: @icon-width;

        image-rendering: pixelated;
        filter: drop-shadow(1px 1px 1px #999);
    }
}

.hint {
    margin-top: 5px;
    margin-left: 5px;
    line-height: 20px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

    .drag-preview {
        opacity: 1;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.drag-preview {
    position: absolute;
    top: 10px;
    left: 30px;
    background: red;
    color: white;
    font-weight: bold;
    padding: 0.25em 0.5em 0.2em;
    border-radius: 30px;
    display: inline-block;
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 120ms cubic-bezier(0, 0, 0.2, 1);
}