:root{
    --darktext: #030303;
    --lighttext: #EEEEEE;

    --grey0: #EEEEEE;
    --grey1: #CCCCCF;
    --grey2: #888888;
    --grey3: #555555;
    --grey4: #333333;
    --grey5: #2A2A2A;
    --grey6: #1A1A1A;
    
    --inactive: #4444AA;
    --active: #5555CC;
    --number: #3311EE;
}


#moneyCount{
    background: no-repeat 10px 0px/25px 25px  url("icons/dream-world/electric-gem.png"), var(--grey4);
    color: var(--lighttext);
    width: 99%;
    text-align: right;
    height: 25px;
    line-height: 20px;
    font-size:32px;
    text-align: center;
    border: none;
}

#coinsCount{
    margin-left:40px;
}

#spinny{
    height:20px;
    background-color: var(--lighttext);
    cursor: pointer;
}

#shake{
    pointer-events: none;
}

#shakeBehind{
    pointer-events: none;
}

#itemSwitch{
    cursor: pointer; 
    text-align: center; 
    font-size: 20px; 
    font-weight: bolder; 
    color: white;
    transition: font-size 1s, background-color 1s;
}

#itemSwitch:hover{
    background-color: var(--grey3);
    font-size: 24px; 
}

.icon{
    position: relative;
    height:55px;
    width:55px;
    top: 5px;
    transition: transform .5s
}

.item{
    --used: 99;
    display: flex;
    width: 75%;
    background-color:var(--active);
    border-radius:100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:10px;
    align-items: center;
}

.item:hover{
    background-color: var(--inactive)
}

.item .icon{
    margin-left: auto;
    margin-right: auto;
    top:0px;
    width:70%;
    height:70%;
}

.item:hover .icon{
    transform: scale(1.26)
}

.dead{
    position: absolute; 
    text-align:center;
    border-radius: 10px; 
    width:104px; 
    height: 104px; 
    opacity: .2; 
    z-index:10; 
    margin-left:16px;
    margin-top:32px;
}

.revive{
    cursor: pointer; 
    width: 48px;
    height: 64px; 
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}

.revive:hover{
    transform: scale(1.25);
}

.number{
    position: absolute;
    font-size: 17px;
    right: 20px;
    color: var(--darktext);
    bottom: -25px;
    --backColour : white;
    text-shadow: 0px 0px 3px var(--backColour), 0px 0px 6px var(--backColour), 0px 0px 9px var(--backColour), 0px 0px 12px var(--backColour), 0px 0px 15px var(--backColour);
    font-weight: 900;
}

.itemAppear{
    position: absolute;
    font-size: 17px;
    right: 20px;
    color: var(--darktext);
    bottom: -25px;
    --backColour : white;
    text-shadow: 0px 0px 3px var(--backColour), 0px 0px 6px var(--backColour), 0px 0px 9px var(--backColour), 0px 0px 12px var(--backColour), 0px 0px 15px var(--backColour);
}

.inBox{
    background: radial-gradient(at 50% 65%,white, rgba(255,255,255,0) 50%);
}

.barHold{
    opacity: .55; 
    position: absolute; 
    padding:3px; 
    height:14px; 
    width: 70px;  
    top:27px; 
    background-color: var(--darktext); 
    border-radius:5px
}

.healthBar{
    transition: width 1s; 
    height:7px; 
    width: 70px; 
    background-color:green; 
    border-top-left-radius:3px;
    border-top-right-radius:3px
}

.typeBar{
    transition: width 1s; 
    height:7px; 
    width: 0px; 
    background-color:#0081af; 
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px
}

#info{
    width:15%;
    z-index:15;
    position: absolute;
    bottom: 200px;
    padding: 20px;
    border-radius: 20px;
    opacity: .7;
    background-color: var(--grey3); 
    text-align: center; 
    color: var(--lighttext); 
    font-family:Arial;
}

.top{
    position: absolute;
    top:-2px;
    width:70px;
    text-align: center;
}

.top :first-child{
    position: auto;
    color: var(--darktext);
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
}

.top :nth-child(2){
    position: auto;
    margin-top:-3px;
    color: var(--darktext);
    font-weight: bold;
    font-size: 12px;
    font-family: Helvetica;
}

.pokemonSprite{
    display:inline-block;
    image-rendering: pixelated;
    width:80px;
    height:60px;
    padding-top:-5px;
    border-radius:100%;
    cursor: pointer;
    z-index:5;
}

.unknownSprite{
    width:80px;
    height:60px;
    image-rendering: pixelated;
    background-image: url("icons/pokemon/unknown.png");
    background-size: 100% 100%;
}

.battleSprite{
    display:inline-block;
    image-rendering: pixelated;
    width:96px;
    height:96px;
    padding-top:-5px;
    border-radius:100%;
    cursor: pointer;
    z-index:5;
}

#shake{
    width:128px;
    height:128px;
    position: absolute;
    left: 500px;
    top: 500px;
    transform: scale(0);
}

.shiny::after{
    position: relative;
    left:45px;
    bottom:20px;
    content: "★";
    color:yellow;
    --backColour : yellow;
    text-shadow: 0px 0px 3px var(--backColour), 0px 0px 6px var(--backColour), 0px 0px 9px var(--backColour);
}

.item::after{
    counter-increment: test var(--used);
    background-color: var(--number);
    color: var(--lighttext);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: relative;
    top: 38px;
    padding-top: 7px;
    padding-right: 3.5px;
    padding-left: 3.5px;
    content: counter(test);
    margin-left: -35px;
    pointer-events: none;
}

#shakeBehind{
    width:96px;
    height:96px;
}

.pInv{
    background-size:100% 100%;
}

.battle{
    position: relative;
    border-radius: 2px; 
    width:99%; 
    left: 0;
    text-align: center;
}

.grass{
    background-image: url(grassBattle.png); 
}

.normal{
    background-image: url(normalBattle.png); 
}

.water{
    background-image: url(waterBattle.png); 
}

.rock{
    background-image: url(rockBattle.png); 
}

.ice{
    background-image: url(iceBattle.png); 
}

.wrapper{
    position: relative;
    display: inline-block;
    background-size:100% 100%;
    width: 272px; 
    height: 144px; 
    box-shadow: 5px 5px 2px var(--darktext);
    margin: 5px;
    border-radius: 2px;
}

.fBox{
    position: absolute; 
    background-image: url(backBattle.png); 
    width:104px; 
    height: 104px; 
    top: 30px; 
    margin: 0;
}

.GrassBack{
    background-image: url(backBattleGrass.png); 
}

.WaterBack{
    background-image: url(backBattleWater.png); 
}

.NormalBack{
    background-image: url(backBattleNormal.png); 
}

.RockBack{
    background-image: url(backBattleRock.png); 
}

.IceBack{
    background-image: url(backBattleIce.png); 
}

#pokeHolder{
    background-color: var(--grey4);
    z-index:1;
    height: 60px;
    padding:10px;
}

#pokeMixer{
    height: 80px;
    width: 100px;
    position: relative;
    left: 300px;
    top: 100px;
    border-radius: 20px;
    background-color: var(--grey2)
}

.setCurrent{
    display: inline-block;
    margin: 0;
    cursor: pointer;
    height: 40px;
    width: 16%;
    overflow-x: hidden;
    background-color: var(--grey1);
    line-height:40px;
    text-align: center;
    font-size: 19px;
    font-family: Arial;
    color: var(--darktext);
    border: 2px solid black;
}

.setCurrent:hover{
    background-color: var(--grey2);
}

#dexTab td{
    border-radius: 1px;
    border: 1px solid black;
    height:15px;
}

#main3{
    text-align: center;
}

.storefront{
    display: inline-block;
    margin-top: 10px;
    left: 50px;
    top: 50px;
    width: 90%;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: var(--grey4);
    color: white;
    text-align: left;
}

.head{
    width: 100%;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.storefront table{
    text-align: center;
    width:300px;
    margin-left: 5px;
    cursor: pointer;
    background-color: var(--active);
    border-radius: 1px;
    padding: 10px;
    display: inline-block;
}

.storefront table:hover{
    background-color: var(--inactive);
}

.bImage::after{
    counter-increment: test var(--used);
    background-color: var(--number);
    color: var(--lighttext);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: relative;
    top: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    content: counter(test);
    margin-left: -10px;
    pointer-events: none;
}

.bName{
    height: 25px;
    line-height: 20px;
    font-size:32px;
}

.bCost{
    padding-top: 5px;
    height: 25px;
    line-height: 20px;
    font-size:32px;
    padding-left: 40px;
    background: no-repeat 10px 5px/25px 25px  url("icons/dream-world/electric-gem.png");
}

.row{
    background-color: var(--grey1);
}

.fakerow{
    background-color: var(--grey2);
}

.dumbrow{
    background-color: var(--grey3);
}

#dexTab{
    position:relative;
    left: 0;
    top: 0;
    width: 100%;
}

#itemSpace{
    background-color: var(--grey5);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: var(--inactive); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--active); 
}

.heading{
    background-color: var(--grey4);
}

.main{
    overflow-y: auto;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(144px);
    height:100%;
    background-color: var(--grey6);
    align-items: center;
    justify-content: center;
    display: flex;
}

#boxes{
    display: inline-block;
    height: 456px;
    width: 456px;
    background-color: var(--grey1);
}

.POKEC{
    position:absolute;
}

#pokeBox{
    border:1px solid black;
    border-radius: 20px;
    position: fixed;
    width:206px;
    height: 202px;
    z-index:0;
    padding:10px;
}

#resetButton{
    background-color: var(--grey4);
    color: var(--lighttext);
    width: 99%;
    height: 35px;
    line-height: 14px;
    font-size:16px;
    border-top-left-radius: 50px;
    text-align: center;
    transition: background-color .25s;
}

#buyField{
    position: absolute;
    width:282px; 
    height: 154px; 
    z-index:5;
    cursor: pointer; 
    color: var(--lighttext); 
    background-color: var(--darktext);
    line-height: 154px;
    font-family: arial;
    font-size: 20px;
    border: 2px solid white; 
}

#resetButton:hover{
    background-color: var(--grey3);
}

.box{
    width:40px;
    height:30px;
}

body{
    font-family: Arial;
    user-select: none; 
    overflow: hidden;
    -moz-user-select: none;
}